dist/*
!dist/package.json
.vscode
node_modules/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Windows thumbnail cache files
Thumbs.db

# OS X files
.DS_Store
._*
dbname
src/renderer/.umi
src/renderer/pages/.umi-production
scripts/lib/
.umi
src/renderer/.umi-production/
yarn.lock